---
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import EmailIcon from "../icons/Email.astro";
import CodeIcon from "../icons/Code.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portofolio Jorge G. - Desarrollador y Programador +3 años de experiencia"
	description="Contrata a Jorge para constuir experiecias web, desarrollo de aplicacion, usos de tecnologias web, etc"
>
	<main>
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 lg:size-16 mb-4"
				src="https://avatars.githubusercontent.com/u/1561955?v=4"
				alt="midudev photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl font-bold flex flex-row gap-x-4 lg:pb-10"
			>
				Hey, soy Jorge G. <a
					href="https://linkedin.com"
					target="_blank"
					rel="noopener"
					class="flex items-center justify-center"
				>
					<Badge>Full Disponibilidad</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-balance mx-w-[700px]">
				<span class="text-yellow-200/90">+3años de experiencia.</span>
				Desarrollador Web y creador de contenido.
				<span class="text-red-200/90"
					>Especializado en creación de aplicaciones y sistemas.</span
				>
			</h2>
			<nav class="flex gap-x-4 mt-8 flex-wrap">
				<SocialPill class="https://linkedin.com">
					<LinkedInIcon class="size-4 md:size-6" />LinkedIn
				</SocialPill>
				<SocialPill class="https://github.com">
					<GitHubIcon class="size-4 md:size-6" />GitHub
				</SocialPill>
				<SocialPill class="emailto:gajardoduranjorge@gmail.com">
					<EmailIcon class="size-4 md:size-6" />Gajardoduranjorge@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>

<style></style>
